body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 99%;
    border: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(rgb(0,217,255), rgb(0, 81, 96));
    font-family: test;
    color: rgb(255, 255, 255);

}

mark{
    background-color: rgb(0, 0, 0);
    color: white
}

@font-face {
    font-family: test;
    src: url(CreakyFrank.ttf);
}

header{
    width: 1220px;
    border: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    margin: 10px auto;
    vertical-align: middle;
    background-color: blue;
    border-radius: 8px;
}

#main-image {
    
    height: 500px;
    width: auto;
    margin: 0px auto;
    border: 0px auto;
    border-color: rgb(0, 0, 0);
    background-color: rgb(0,217,255);
    display: block;
    border-radius: 8px;
}   

/*h1{
    width: 1200px;
    border: 1px;
    border-style: dotted;
    border-color: black;
    margin: 10px auto;
}*/

#logo{
    width: 100px;
    height: 100px;
    border: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    margin: 10px 100px;
    float: left;
    /*background-color: blue;*/
    
}

#navbar{
    height: 60px;
    border: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    background-color: rgb(0, 170, 255);
    text-align: center;
    border-radius: 8px;
}

.nav-link{
    height: 35px;
    width: 200px;
    display: inline-block;
    border: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    margin: 10px;
    background-color: blue;
    transition: all 0.5s;
}

.nav-link:hover{
    background-color: lightblue;
    transition: 0.5s;
}

#banner{
    height: 120px;
    float: left;
    display: flex;
    align-items: center;
    /*background-color: rgb(89, 0, 255);*/
}

#main-content-area{
    width: 1220px;
    border: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    margin: 10px auto;
    background-color: blue ;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
}

#header-border{
    height: 122px;
}
